services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: pdfgen-app
    restart: always
    ports:
      - "1235:1234"
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
